@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='month']::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}

input[type='month']:focus::before,
input[type='month']:active::before {
    content: '';
    width: 0%;
}
