@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='month']::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}

input[type='month']:focus::before,
input[type='month']:active::before {
    content: '';
    width: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: auto;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #025a75;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #01a2d3;
}
